{% extends 'base.html' %}
{% block title %}Acerca de{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Acerca de</h1>
    <p>
        Este proyecto fue realizado por los estudiantes:
    </p>
    <ul>
        <li>Daniel Martínez</li>
        <li>Manuel Soto</li>
        <li>Katia Ivonne Gutiérrez</li>
        <li>Luis Fernando Álvarez</li>
    </ul>
    <p>
        Para la materia de <strong>Interés Dos</strong> en la <strong>Universidad Anáhuac Puebla</strong>.
    </p>
    <p>
        Puedes encontrar el código fuente en nuestro <a href="https://github.com/fernandoa77/proyectointeres2" target="_blank">repositorio</a>.
    </p>
</div>
{% endblock %}